body{
    width:auto;
    height:auto;
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}

.top_container{
    /* 
        IMP:-(16px = 100% = 1em = 1 rem)
        em/rem: It represents with of 'M'(1em = width of 1'M')
                ('r' represents root & does not depend on inheritance)
        px-static
        %-dynamic
        em/rem-dynamic 
    */
   margin:0;

    background-color: #EAC696;
   height: 20%;
   padding:40px;

   
}

.mid_container{
    padding: 40px;
    margin:0;
    background-color: #EEEDED;
   
}

.bottom_container{
    background-color: #EAC696;
    margin:0 0 1px 0 ;
    padding:40px;
}

.topc {
    width:14%;
    height: 2%;
     margin: 0 45% 0 65%;
}

.sunc {
    position: relative;
    left:5%;
    margin:0;
    width:12%;
   
}

.city {
    position: relative;
    right:15%;
    height:25%;
    width:25%;
 
}

.lockc{
    position: relative;
    right:37%;
   
    width:11%;
    
}

.downc{
    position: relative;
left: 58%;
bottom:193px;
    width: 15%;
   
}

.botc{
    position:relative;
    right:36%;
    bottom:178px;
    width:15%;
   
}


h1 { 
    color:#273f52;
    font-size:531%;
    margin: 0 auto;
    font-family: 'Sacramento',cursive;
}

h2 { 
    font-family: 'Montserrat',sans-serif;
    margin: 0 auto;
    font-weight: bold;
}

h3 {
    
    font-family: 'Montserrat',sans-serif;
}

.profile {
    margin:0;
    height:145px;
}

.prol{
    float:left;
    margin:0;
    height:145px;
   
}

.prof{
  
    margin:0;
    height:145px;
   
}

.midp{
    
    font-family: 'Montserrat',sans-serif;
}

h4{
    font-weight: normal;
}


table {
    text-align: left;
    COLOR:#4682A9;
}

.cm{
    color:#331D2C;
    background-color: #91C8E4;
    margin:0;
    padding:50px;
}

.fm{
    background-color: #D8D9DA;
    margin:0;
    padding:50px;
}

.ty{
    background-color:#4682A9;
    margin:0;
    padding:34.5px;
}

hr.h {
    background-color: #E1ECC8;
      border-style:none;
      border-top-style: dotted;
      border-width:7px;
      width:7%;
      border-color:grey;
}

.socials{
    margin:0;
    height:50px;
}

.btn {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #080008;
    font-size: 20px;
    background: #968751;
    padding: 10px 20px 10px 20px;
    border: solid #0f1d26 1px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e4edf2;
    background-image: -webkit-linear-gradient(top, #e4edf2, #9da0a3);
    background-image: -moz-linear-gradient(top, #e4edf2, #9da0a3);
    background-image: -ms-linear-gradient(top, #e4edf2, #9da0a3);
    background-image: -o-linear-gradient(top, #e4edf2, #9da0a3);
    background-image: linear-gradient(to bottom, #e4edf2, #9da0a3);
    text-decoration: none;
  }

  .sm{

    font-size: 13.3px;
padding: 5px;
text-decoration: none;
  }

a.links{
   
    margin: 5px;
}

.copyright{
    color: #666667;
    font-size: small;
    padding:15px;
    
}

