body{
    width:auto;
    height:auto;
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}

.top_c{
    /* 
        IMP:-(16px = 100% = 1em = 1 rem)
        em/rem: It represents with of 'M'(1em = width of 1'M')
                ('r' represents root & does not depend on inheritance)
        px-static
        %-dynamic
        em/rem-dynamic 
    */
    margin:0;

    background-color: #EAC696;
   height: 20%;

   
}

.mid_c{
    padding: 20px;
    margin:0;
    background-color: #EEEDED;
   
}

.bottom_c{
    background-color: #EAC696;
    margin:0 0 1px 0;
}

.topc {
    width:14%;
    height: 2%;
     margin: 0 45% 0 65%;
}

.sunc { margin:0;
    width:12%;
   
}

.city {
    height:25%;
    width:25%;
 
}

.lockc{
    position: absolute;
    top:7%; 
    left: 27%;
    width:11%;
    
}

.downc{
    position: absolute;
    top:31%;
    left: 80%;

    width: 15%;
   
}

.botc{
    position:absolute;
    top: 29%;
    left: 5%;
    width:15%;
   
}


h1 { 
    font-size:5.400rem;
    margin: 0 auto;
    font-family: 'Sacramento',cursive;
}

h2 { 
    font-family: 'Montserrat',sans-serif;
    margin: 0 auto;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat',sans-serif;
}

.profile {
    margin:0;
    height:145px;
}

h4{
    font-weight: normal;
}

#1{
    background-color: #e5406e;
}

#2{
    background-color: #47e290;
}

#3{
    background-color: #8ec2f3;
}

table {
    text-align: left;
    COLOR:#4682A9;
}

.cm{
    color:#331D2C;
    background-color: #91C8E4;
    margin:0;
    padding:50px;
}

.fm{
    background-color: #D8D9DA;
    margin:0;
    padding:50px;
}

.ty{
    background-color:#4682A9;
    margin:0;
    padding:34.5px;
}

hr.h {
    background-color: #E1ECC8;
      border-style: none;
      border-top-style: dotted;
      border-width:5px;
      width:7%;
      border-color:grey;
}

.socials{
    margin:0;
    height:50px;
}
